<?xml version='1.0' encoding='utf-8'?>
<widget id="com.myrunplay.mayumsyka2" version="2.0.0" xmlns="http://w3.org" xmlns:cdv="http://apache.org">
    <name>MayUmshka2</name>
    <description>MayUmshka Chapter 2</description>
    <author>Developer</author>
    <content src="index.html" />
    
    <!-- Разрешаем локальный запуск медиафайлов без ограничений WebView -->
    <preference name="AndroidInsecureFileModeEnabled" value="true" />
    <preference name="MediaPlaybackRequiresUserGesture" value="false" />
    <preference name="DomStorageEnabled" value="true" />
    
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
</widget>
